// Colors

$main-color: #049016;
$second-color: #cdf5d2;
$background-color: #FFFFFF;
$text-main-color: #013e09;

// Fonts

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&family=Roboto:wght@400;700&display=swap');
$main-font: 'Raleway', sans-serif;
$second-font: 'Roboto', sans-serif;

